n8n.json
{
  "name": "SMM Agent — Uploader + Webhooks",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1ZCw5WxKdgfbwL6u19_ezZnuRBuPod_vJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "trg-drive-uploader",
      "name": "📁 Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2400,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wNMKLQ7xHaUW968M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-video",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "video/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-is-video",
      "name": "🎬 Это видео?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2176,
        400
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "video"
        }
      },
      "id": "download-video",
      "name": "⬇️ Скачать видео",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1952,
        400
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wNMKLQ7xHaUW968M",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Парсим имя видеофайла: формат YYYY-MM-DD-HHMM-Русский заголовок.mp4\n// Пример: 2026-06-25-1400-Топ 5 экономических инструментов.mp4\n//   → scheduledAt = 2026-05-01T11:00:00Z (UTC для YouTube publishAt)\n//   → scheduledAtMsk = \"2026-05-01 14:00\" (для Sheets)\n//   → videoTitle = \"Топ 5 экономических инструментов\"\n//\n// Если имя не подпадает под формат — videoTitle = имя без расширения,\n// scheduledAt = null → видео уйдёт как public сразу.\n\nconst inputItems = $input.all();\nconst results = [];\n\nfor (const item of inputItems) {\n  const fileName = item.json.name || item.json.originalFilename || 'video';\n  const nameWithoutExt = fileName.replace(/\\.[^.]+$/, '');\n\n  let scheduledAt = null;\n  let scheduledAtMsk = null;\n  let title = nameWithoutExt;\n\n  const m = nameWithoutExt.match(/^(\\d{4})-(\\d{2})-(\\d{2})-(\\d{2})(\\d{2})-(.+)$/);\n  if (m) {\n    const [, yyyy, mm, dd, hh, mi, rawTitle] = m;\n    const iso = `${yyyy}-${mm}-${dd}T${hh}:${mi}:00+03:00`;\n    const scheduled = new Date(iso);\n    const now = new Date();\n    const minFuture = new Date(now.getTime() + 15 * 60 * 1000);\n\n    if (!isNaN(scheduled.getTime()) && scheduled >= minFuture) {\n      scheduledAt = scheduled.toISOString();\n      scheduledAtMsk = `${yyyy}-${mm}-${dd} ${hh}:${mi}`;\n    }\n    title = rawTitle.trim();\n  }\n\n  const privacyStatus = scheduledAt ? 'private' : 'public';\n\n  results.push({\n    json: {\n      ...item.json,\n      videoTitle: title,\n      videoCategory: '22',\n      originalFileName: fileName,\n      scheduledAt,\n      scheduledAtMsk,\n      privacyStatus,\n      driveFileId: item.json.id\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      },
      "id": "parse-filename",
      "name": "📝 Парсинг имени",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://veselkov.me"
            },
            {
              "name": "X-Title",
              "value": "n8n YouTube Thumbnail"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-3.1-flash-image-preview\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Сгенерируй профессиональную обложку (thumbnail) для YouTube видео. Заголовок видео: \\\"{{ $json.videoTitle }}\\\". Стиль: яркий, контрастный, с крупным текстом заголовка на русском языке, привлекающий внимание. Размер 1280x720. Без мелких деталей, читаемый даже на маленьком экране.\"\n    }\n  ],\n  \"modalities\": [\"image\", \"text\"],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.8\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "generate-cover",
      "name": "🎨 Генерация обложки (AI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        272
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1chGTFcNLWX4rRnA",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем base64 изображение из ответа OpenRouter\n// и пробрасываем дальше метаданные видео для последующих нод после Merge.\n\nconst imageUrl = $json.choices[0].message.images[0].image_url.url;\nconst base64Data = imageUrl.split(',')[1];\nconst mimeType = imageUrl.match(/data:([a-zA-Z0-9]+\\/[a-zA-Z0-9-.+]+).*,/)[1];\nconst extension = mimeType.includes('png') ? 'png' : 'jpg';\nconst fileName = `thumbnail_${Date.now()}.${extension}`;\n\nconst meta = $('📝 Парсинг имени').first().json;\n\nreturn {\n  json: {\n    fileName,\n    mimeType,\n    videoTitle: meta.videoTitle,\n    scheduledAt: meta.scheduledAt,\n    scheduledAtMsk: meta.scheduledAtMsk,\n    driveFileId: meta.driveFileId,\n    privacyStatus: meta.privacyStatus,\n    success: true\n  },\n  binary: {\n    thumbnail: {\n      data: base64Data,\n      mimeType,\n      fileName\n    }\n  }\n};"
      },
      "id": "extract-cover",
      "name": "🖼️ Извлечь обложку из ответа",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        272
      ]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.videoTitle }}",
        "regionCode": "RU",
        "categoryId": "={{ $json.videoCategory }}",
        "options": {
          "privacyStatus": "={{ $json.privacyStatus }}",
          "publishAt": "={{ $json.scheduledAt || '' }}"
        }
      },
      "id": "upload-youtube",
      "name": "🎥 Загрузить на YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -1504,
        528
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "uAQzrCDny8QAApH6",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-cover-upload",
      "name": "🔀 Ждём обложку + загрузку",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1056,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId={{ $json.uploadId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "thumbnail",
        "options": {
          "timeout": 60000
        }
      },
      "id": "set-thumbnail",
      "name": "🖼️ Установить обложку",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        400
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "uAQzrCDny8QAApH6",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-youtube-id",
              "name": "youtubeId",
              "value": "={{ $('🔀 Ждём обложку + загрузку').item.json.uploadId }}",
              "type": "string"
            },
            {
              "id": "set-youtube-url",
              "name": "youtubeUrl",
              "value": "=https://youtube.com/watch?v={{ $('🔀 Ждём обложку + загрузку').item.json.uploadId }}",
              "type": "string"
            },
            {
              "id": "set-title",
              "name": "videoTitle",
              "value": "={{ $('🔀 Ждём обложку + загрузку').item.json.videoTitle }}",
              "type": "string"
            },
            {
              "id": "set-scheduled-at-msk",
              "name": "scheduledAtMsk",
              "value": "={{ $('🔀 Ждём обложку + загрузку').item.json.scheduledAtMsk || '' }}",
              "type": "string"
            },
            {
              "id": "set-drive-file-id",
              "name": "driveFileId",
              "value": "={{ $('🔀 Ждём обложку + загрузку').item.json.driveFileId || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "save-context",
      "name": "🔗 Сохранить контекст",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        400
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "youtube_id": "={{ $json.youtubeId }}",
            "youtube_url": "={{ $json.youtubeUrl }}",
            "drive_file_id": "={{ $json.driveFileId }}",
            "title": "={{ $json.videoTitle }}",
            "scheduled_at": "={{ $json.scheduledAtMsk }}",
            "status": "uploaded"
          },
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [
            {
              "id": "youtube_id",
              "displayName": "youtube_id",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "defaultMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "youtube_url",
              "displayName": "youtube_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "scheduled_at",
              "displayName": "scheduled_at",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "tg_text",
              "displayName": "tg_text",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_html",
              "displayName": "blog_html",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_meta",
              "displayName": "blog_meta",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_alias",
              "displayName": "blog_alias",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_parent",
              "displayName": "blog_parent",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "cover_url",
              "displayName": "cover_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "cover_local_path",
              "displayName": "cover_local_path",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "tg_msg_id",
              "displayName": "tg_msg_id",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "upsert-uploaded",
      "name": "📊 Upsert Sheets (uploaded)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -384,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "={{ $('🔗 Сохранить контекст').item.json.scheduledAtMsk ? '🕐 <b>Видео запланировано</b>\\n\\n📹 ' + $('🔗 Сохранить контекст').item.json.videoTitle + '\\n🔗 ' + $('🔗 Сохранить контекст').item.json.youtubeUrl + '\\n📅 Публикация: ' + $('🔗 Сохранить контекст').item.json.scheduledAtMsk + ' MSK\\n\\n👉 Подготовь контент в Claude Code:\\n<code>/publish-from-script ' + $('🔗 Сохранить контекст').item.json.youtubeUrl + '</code>\\n\\nТексты лягут в очередь — n8n опубликует автоматически.' : '✅ <b>Видео загружено на YouTube</b>\\n\\n📹 ' + $('🔗 Сохранить контекст').item.json.videoTitle + '\\n🔗 ' + $('🔗 Сохранить контекст').item.json.youtubeUrl + '\\n🎨 Обложка установлена\\n\\n👉 В Claude Code:\\n<code>/publish-from-script ' + $('🔗 Сохранить контекст').item.json.youtubeUrl + '</code>' }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "notify-uploaded",
      "name": "📩 TG: Видео загружено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        400
      ],
      "webhookId": "notify-uploaded-wh",
      "credentials": {
        "telegramApi": {
          "id": "uXAYhXslRwHtZKD7",
          "name": "Veselkov_smm"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "e5bdfd41-4fad-4442-b707-1d416bd5c3b2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-lookup",
      "name": "🔌 Webhook: Lookup (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2400,
        2000
      ],
      "webhookId": "e5bdfd41-4fad-4442-b707-1d416bd5c3b2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "options": {}
      },
      "id": "lookup-read",
      "name": "📊 Read schedule (lookup)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2176,
        2000
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Webhook query доступен в $json.query (n8n nest under body/query/headers).\n// Возвращаем РОВНО ОДИН item — иначе Respond Lookup отправит первый и потеряет остальные.\n\nconst query = $('🔌 Webhook: Lookup (GET)').first().json.query || {};\nconst youtubeId = String(query.youtube_id || '').trim();\n\nif (!youtubeId) {\n  return [{ json: { found: false, row: null, error: 'youtube_id query param missing' } }];\n}\n\nconst rows = $input.all().map(i => i.json).filter(r => r && typeof r === 'object');\nconst match = rows.find(r => String(r.youtube_id || '').trim() === youtubeId);\n\nreturn [{ json: { found: !!match, row: match || null } }];"
      },
      "id": "lookup-find",
      "name": "🔍 Find by youtube_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        2000
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "lookup-respond",
      "name": "↩️ Respond Lookup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1728,
        2000
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "905e8882-caab-4e40-8f42-c6f63524f3e8",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-update",
      "name": "🔌 Webhook: Update (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2400,
        2300
      ],
      "webhookId": "905e8882-caab-4e40-8f42-c6f63524f3e8"
    },
    {
      "parameters": {
        "jsCode": "// Webhook payload приходит вложенным в $json.body — распаковываем\n// в плоский item, чтобы Google Sheets defineBelow корректно увидел поля.\n// Принимаем только разрешённые колонки (защита от мусора).\n\nconst ALLOWED = [\n  'youtube_id','youtube_url','drive_file_id','title','scheduled_at',\n  'tg_text','blog_html','blog_meta','blog_alias','blog_parent',\n  'cover_url','cover_local_path','status',\n  'published_at','tg_msg_id','blog_url','error'\n];\n\nconst results = [];\nfor (const item of $input.all()) {\n  const raw = (item.json && item.json.body) ? item.json.body : (item.json || {});\n  if (!raw.youtube_id) {\n    throw new Error('youtube_id отсутствует в теле запроса');\n  }\n\n  const cleaned = {};\n  for (const key of ALLOWED) {\n    if (raw[key] !== undefined && raw[key] !== null) {\n      cleaned[key] = raw[key];\n    }\n  }\n\n  results.push({ json: cleaned });\n}\nreturn results;"
      },
      "id": "update-unpack",
      "name": "📦 Unpack body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        2300
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [
            {
              "id": "youtube_id",
              "displayName": "youtube_id",
              "type": "string",
              "canBeUsedToMatch": true,
              "required": false,
              "defaultMatch": true,
              "display": true,
              "removed": false
            },
            {
              "id": "youtube_url",
              "displayName": "youtube_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "scheduled_at",
              "displayName": "scheduled_at",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "tg_text",
              "displayName": "tg_text",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_html",
              "displayName": "blog_html",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_meta",
              "displayName": "blog_meta",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_alias",
              "displayName": "blog_alias",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_parent",
              "displayName": "blog_parent",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "cover_url",
              "displayName": "cover_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "cover_local_path",
              "displayName": "cover_local_path",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "tg_msg_id",
              "displayName": "tg_msg_id",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "type": "string",
              "canBeUsedToMatch": false,
              "required": false,
              "defaultMatch": false,
              "display": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-row",
      "name": "📊 Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1952,
        2300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_ME_GOOGLE_SHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, youtube_id: $json.youtube_id, status: $json.status } }}",
        "options": {}
      },
      "id": "update-respond",
      "name": "↩️ Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1728,
        2300
      ]
    }
  ],
  "connections": {
    "📁 Drive Trigger": {
      "main": [
        [
          {
            "node": "🎬 Это видео?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Это видео?": {
      "main": [
        [
          {
            "node": "⬇️ Скачать видео",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Скачать видео": {
      "main": [
        [
          {
            "node": "📝 Парсинг имени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Парсинг имени": {
      "main": [
        [
          {
            "node": "🎨 Генерация обложки (AI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎥 Загрузить на YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Генерация обложки (AI)": {
      "main": [
        [
          {
            "node": "🖼️ Извлечь обложку из ответа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Извлечь обложку из ответа": {
      "main": [
        [
          {
            "node": "🔀 Ждём обложку + загрузку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎥 Загрузить на YouTube": {
      "main": [
        [
          {
            "node": "🔀 Ждём обложку + загрузку",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Ждём обложку + загрузку": {
      "main": [
        [
          {
            "node": "🖼️ Установить обложку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Установить обложку": {
      "main": [
        [
          {
            "node": "🔗 Сохранить контекст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Сохранить контекст": {
      "main": [
        [
          {
            "node": "📊 Upsert Sheets (uploaded)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Upsert Sheets (uploaded)": {
      "main": [
        [
          {
            "node": "📩 TG: Видео загружено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔌 Webhook: Lookup (GET)": {
      "main": [
        [
          {
            "node": "📊 Read schedule (lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read schedule (lookup)": {
      "main": [
        [
          {
            "node": "🔍 Find by youtube_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find by youtube_id": {
      "main": [
        [
          {
            "node": "↩️ Respond Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔌 Webhook: Update (POST)": {
      "main": [
        [
          {
            "node": "📦 Unpack body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Unpack body": {
      "main": [
        [
          {
            "node": "📊 Update row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update row": {
      "main": [
        [
          {
            "node": "↩️ Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "instanceId": "18021caa13c5cb5f2917678412a500e4d96e60027265f9b771588b75d3ff2dae"
  }
}
