n8n_actual.legacy.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "f6607f0e-561f-4e5c-bff7-77f370ebdb68",
      "name": "⏰ Publisher Trigger (5 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        6240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "schedule",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f4d4e853-de6b-456d-b2b5-88a1b3657d9c",
      "name": "📊 Read Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        6240
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Оставляем строки готовые к публикации: status=ready и scheduled_at <= now() в MSK\nconst now = Date.now();\nconst results = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (row.status !== 'ready') continue;\n  if (!row.scheduled_at) continue;\n\n  // scheduled_at формат: \"2026-05-01 14:00\" (MSK)\n  const iso = String(row.scheduled_at).trim().replace(' ', 'T') + ':00+03:00';\n  const scheduled = new Date(iso).getTime();\n  if (isNaN(scheduled)) continue;\n  if (scheduled > now) continue;\n\n  results.push({ json: row });\n}\n\nreturn results;"
      },
      "id": "cf1a903b-fc2c-4bfa-aa65-d479626c86eb",
      "name": "🔍 Filter: ready & due",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        6240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "81189397-3609-41ee-8980-a985783a5cd2",
      "name": "🔁 Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        6240
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "schedule",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ef58beb-0f13-4b4b-a172-ed08e74e9962",
      "name": "🔒 Lock current row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        6240
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001972632255",
        "file": "={{ $json.cover_url }}",
        "additionalFields": {
          "caption": "={{ ($json.tg_text || '').length > 1024 ? $json.blog_meta : $json.tg_text }}",
          "parse_mode": "HTML"
        }
      },
      "id": "81fcf1d5-7ce6-413e-a1fc-5dd99721d502",
      "name": "📨 TG sendPhoto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        6240
      ],
      "webhookId": "1324c57a-091c-4eb3-a21c-51feeeeca14d",
      "credentials": {},
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "long-text",
              "leftValue": "={{ ($('🔁 Split In Batches').item.json.tg_text || '').length }}",
              "rightValue": 1024,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8a2e7f3-3593-43e7-b240-6030f016f189",
      "name": "🔀 tg_text > 1024?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1088,
        6240
      ]
    },
    {
      "parameters": {
        "chatId": "-1001972632255",
        "text": "={{ $('🔁 Split In Batches').item.json.tg_text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "389d239b-6b42-4862-880f-94dbaae48c1e",
      "name": "📨 TG sendMessage (long)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        6128
      ],
      "webhookId": "da350e20-5cb6-447f-a453-b50be940068a",
      "credentials": {},
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://veselkov.me/api-publish.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.BLOG_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ pagetitle: $('🔁 Split In Batches').item.json.title, longtitle: $('🔁 Split In Batches').item.json.title, introtext: $('🔁 Split In Batches').item.json.blog_meta, content: $('🔁 Split In Batches').item.json.blog_html, description: $('🔁 Split In Batches').item.json.blog_meta, alias: $('🔁 Split In Batches').item.json.blog_alias, parent: parseInt($('🔁 Split In Batches').item.json.blog_parent), template: 8, published: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "1783ba46-fd49-432c-b956-663a3e7b1a8f",
      "name": "📝 Blog publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        6240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('🔁 Split In Batches').item.json.cover_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "cover"
            }
          }
        }
      },
      "id": "cf015f0c-8c72-4c80-bb6f-f444cf1b6a52",
      "name": "📥 Fetch cover binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        6240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://veselkov.me/api-set-cover.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.BLOG_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ resource_id: parseInt($('📝 Blog publish').item.json.id), image_data: $binary.cover.data }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 60000
        }
      },
      "id": "01293e94-5b4a-4fc1-9dff-cdc7efbbb2fe",
      "name": "🖼️ Blog set cover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        6240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.SMM_SCHEDULE_SPREADSHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0794ea58-ac6b-4723-a49b-d71d9279c488",
      "name": "✅ Update Sheets (published)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2208,
        6240
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "=✅ Опубликовано\n\n📹 {{ $('🔁 Split In Batches').item.json.title }}\n📺 {{ $('🔁 Split In Batches').item.json.youtube_url }}\n💬 TG: msg {{ $('📨 TG sendPhoto').item.json.result.message_id }}\n📝 Блог: {{ $('📝 Blog publish').item.json.url }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "id": "6f23919a-7658-4e2b-aec5-b6f76d28bb13",
      "name": "📩 Notify (published)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2432,
        6240
      ],
      "webhookId": "70147bca-9991-47b9-a405-6108d0f48b2a",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "87dcbdb5-5a16-4f15-a03e-c3037e517152",
      "name": "❌ Mark as failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1760,
        6560
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "=❌ Ошибка публикации\n\n📹 {{ $('🔁 Split In Batches').item.json.title }}\n📺 {{ $('🔁 Split In Batches').item.json.youtube_url }}\n\n⚠️ {{ ($json.error && ($json.error.message || $json.error.description)) || 'неизвестная ошибка' }}\n\nСтрока помечена <code>status=failed</code> в Sheets. Для ретрая поменяй на <code>ready</code>.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "54177409-67ea-44bf-b433-ca081d644647",
      "name": "📩 Notify (failed)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1984,
        6560
      ],
      "webhookId": "4e81661f-f0f5-4acd-b3f4-6e8f483f6fed",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "=⚠️ Обложка блога не установлена (публикация прошла)\n\n📹 {{ $('🔁 Split In Batches').item.json.title }}\n📝 Блог: {{ $('📝 Blog publish').item.json.url }}\n\n{{ ($json.error && ($json.error.message || $json.error.description)) || 'неизвестная ошибка' }}\n\nСтатью можно найти в админке и дослать обложку вручную.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "fe500d82-8718-4709-b168-db2d56e6022f",
      "name": "⚠️ Notify (cover warning)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        6480
      ],
      "webhookId": "0d459298-fc88-4e29-8636-ee6172c78aaf",
      "credentials": {}
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "28e19e74-931e-4c99-b1cc-f3824c25d77a",
      "name": "⏰ Reminder Trigger (1h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        6800
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "options": {}
      },
      "id": "a54c8344-c482-4c3a-a5c6-a127eab3541c",
      "name": "📊 Read Sheets (reminder)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        6800
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Находим строки: загружено, контент не готов, 1-3 часа до публикации, напоминание ещё не отправлено\nconst now = Date.now();\nconst in1h = now + 60 * 60 * 1000;\nconst in3h = now + 3 * 60 * 60 * 1000;\nconst results = [];\n\nfor (const item of $input.all()) {\n  const row = item.json;\n  if (row.status !== 'uploaded') continue;\n  if (!row.scheduled_at) continue;\n  // Идемпотентность: если напоминание уже отправлено — пропускаем\n  if (row.reminded_at && String(row.reminded_at).trim() !== '') continue;\n\n  const iso = String(row.scheduled_at).trim().replace(' ', 'T') + ':00+03:00';\n  const scheduled = new Date(iso).getTime();\n  if (isNaN(scheduled)) continue;\n  if (scheduled < in1h || scheduled > in3h) continue;\n\n  results.push({ json: row });\n}\n\nreturn results;"
      },
      "id": "a7657c3f-c084-45df-a1f9-b7ba092f77cf",
      "name": "🔍 Filter: uploaded & 1-3h away",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        6800
      ]
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "=⚠️ До публикации «{{ $json.title }}» осталось меньше 3 часов, контент ещё не готов.\n\n🕐 Запланировано: {{ $json.scheduled_at }} MSK\n📺 {{ $json.youtube_url }}\n\n👉 Запусти в Claude Code:\n<code>/repurpose-youtube-video {{ $json.youtube_url }}</code>",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "32e18292-240d-4de5-93eb-d450a99a1b93",
      "name": "📩 Notify (reminder)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        6800
      ],
      "webhookId": "039cdae6-4f25-41d0-9b63-fd8a85e091a7",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e3a28b1a-5cbf-44e1-ac2e-8313b9ad0360",
      "name": "✅ Mark reminded",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        6800
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "path": "smm-schedule-lookup",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3055b6c7-796e-4398-9401-652ffa87f01a",
      "name": "🔌 Webhook: Lookup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        7360
      ],
      "webhookId": "smm-schedule-lookup",
      "credentials": {}
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "options": {}
      },
      "id": "612d5b5a-fea8-4095-bfa7-16686e9bfaab",
      "name": "📊 Read schedule (lookup)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        7360
      ],
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Фильтруем по youtube_id из query-параметра webhook.\n// Всегда возвращаем ровно один item, чтобы Respond Lookup сработал даже на пустом результате.\nconst query = $('🔌 Webhook: Lookup').item.json.query || {};\nconst youtubeId = String(query.youtube_id || '').trim();\n\nif (!youtubeId) {\n  return [{ json: { found: false, row: null, error: 'youtube_id query param missing' } }];\n}\n\nconst rows = $input.all().map(i => i.json).filter(r => r && typeof r === 'object');\nconst match = rows.find(r => String(r.youtube_id || '').trim() === youtubeId);\n\nreturn [{ json: { found: !!match, row: match || null } }];"
      },
      "id": "caac9226-e2a0-4822-8b55-69a4760ffcce",
      "name": "🔍 Find by youtube_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        7360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "6606d235-36ae-443d-a87e-ea594200f431",
      "name": "↩️ Respond Lookup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        384,
        7360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smm-schedule-update",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67950456-67f4-4182-ac2f-392a8527891b",
      "name": "🔌 Webhook: Update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        7680
      ],
      "webhookId": "smm-schedule-update",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Webhook body приходит вложенным в $json.body.\n// Распаковываем в плоский item, чтобы Google Sheets autoMapInputData\n// корректно смапил поля (youtube_id, tg_text, status и т.д.) в колонки.\nconst results = [];\nfor (const item of $input.all()) {\n  const body = item.json && item.json.body ? item.json.body : item.json || {};\n  if (!body.youtube_id) {\n    throw new Error('youtube_id отсутствует в теле запроса');\n  }\n  results.push({ json: body });\n}\nreturn results;"
      },
      "id": "c69fff96-1986-4769-b4f0-79722720b6b2",
      "name": "📦 Unpack body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        7680
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7ebd942e-39e1-4219-8c2d-a508d94bf566",
      "name": "📊 Update row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        7680
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, updated: $json } }}",
        "options": {}
      },
      "id": "997b37ed-ba4e-4e2d-bbd0-616f9f5dd603",
      "name": "↩️ Respond Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        336,
        7680
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "=1ZCw5WxKdgfbwL6u19_ezZnuRBuPod_vJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "1e8303b2-51c2-47c2-93a1-2ffe1d100b21",
      "name": "📁 Google Drive Trigger1",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        8576
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://veselkov.me"
            },
            {
              "name": "X-Title",
              "value": "n8n YouTube Thumbnail"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-5.4-image-2\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Сгенерируй профессиональную обложку (thumbnail) для YouTube-видео в размере **1280x720**, Композиция в горизонтальном кадре 16:9. Левая половина — текст в 2–3 строки, выровнен по левому краю, отступ от края 7%. Правая половина — портрет блогера по грудь, лицо в правой трети кадра, не обрезано. Все элементы в\n  ▎ пределах безопасной зоны (5% от каждого края). Заголовок видео: \\\"{{ $json.videoTitle }}\\\". Сделай обложку в стиле, похожем на референс: чистый белый фон, очень крупный и читаемый текст на русском языке, минималистичная композиция, сильный визуальный акцент, без мелких и перегруженных деталей. Композиция: слева или по центру размести крупный заголовок, разбитый на 2–4 короткие строки, с чёткой визуальной иерархией. Основные слова выделяй чёрным и красным цветом. Добавь визуальные стопперы, характерные для кликабельных YouTube-обложек: красные стрелки, подчёркивания, плашки, акцентные линии, галочки, крестики, выделение цифр или ключевых фраз. Стопперы должны усиливать внимание, но не перегружать дизайн. Справа размести блогера крупным планом, используя референсное лицо. Блогер должен изображать яркую, но естественную эмоцию, соответствующую теме заголовка видео: удивление, тревогу, шок, радость, недоумение, напряжение, уверенность или сосредоточенность — в зависимости от смысла темы. Лицо должно быть хорошо видно даже на маленьком экране. Покажи блогера по грудь или по пояс, с выразительной позой и мимикой. Общий стиль должен быть сдержанным, профессиональным, современным и визуально похожим на русскоязычные бизнес / разбор / экспертные YouTube-thumbnail: белый фон, эмоциональный портрет, крупная типографика, красно-чёрные акценты, ощущение важности и срочности. Не добавляй сложный фон, лишние предметы, мелкий текст, водяные знаки, интерфейсы или перегруженные элементы. Итоговая обложка должна быть очень читаемой, цепляющей и понятной даже при просмотре с мобильного устройства.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"https://i.ibb.co/G37fq5y5/Chat-GPT-Image-16-2026-09-10-02.png\"\n          }\n        }\n      ]\n    }\n  ],\n  \"modalities\": [\"image\", \"text\"],\n  \"max_tokens\": 4096,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "f856d10c-0772-49fe-8a08-8a8f175eaee0",
      "name": "🎨 Генерация обложки (AI)4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        8368
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.videoTitle }}",
        "regionCode": "RU",
        "categoryId": "={{ $json.videoCategory }}",
        "options": {
          "privacyStatus": "={{ $json.privacyStatus }}",
          "publishAt": "={{ $json.scheduledAt || '' }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        272,
        8768
      ],
      "id": "01a8e151-14ee-446f-a209-fba6f3556f72",
      "name": "🎥 Загрузить на YouTube4",
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "417d2328-14f7-4db4-a5ac-fe704d23110b",
      "name": "🔀 Ждём обложку + загрузку4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        720,
        8576
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-video",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "video/",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "831e3827-917e-4d20-80c9-54d37bd90690",
      "name": "🎬 Это видео?5",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        8576
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "video"
        }
      },
      "id": "3e358f85-4362-45c3-bb1a-9773b4236936",
      "name": "⬇️ Скачать видео5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        8576
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Парсим имя файла для метаданных YouTube + scheduled publishing\n// Формат А (scheduled): \"YYYY-MM-DD-HHMM ## Title ## Description ## Category.mp4\"\n// Формат Б (immediate): \"Title ## Description ## Category.mp4\" или \"Title.mp4\"\n\nconst inputItems = $input.all();\nconst results = [];\n\nfor (const item of inputItems) {\n  const fileName = item.json.name || item.json.originalFilename || 'Без названия';\n  const nameWithoutExt = fileName.replace(/\\.[^.]+$/, '');\n\n  let scheduledAt = null;      // ISO UTC для YouTube publishAt\n  let scheduledAtMsk = null;   // Human-readable MSK для Sheets и Telegram\n  let workingName = nameWithoutExt;\n\n  // Regex: YYYY-MM-DD-HHMM в начале, затем ##\n  const dateMatch = workingName.match(/^(\\d{4})-(\\d{2})-(\\d{2})-(\\d{2})(\\d{2})\\s*##\\s*(.+)$/);\n  if (dateMatch) {\n    const [, yyyy, mm, dd, hh, mi, rest] = dateMatch;\n    // Если prefix есть — дата-часть всегда съедается, чтобы title не содержал timestamp.\n    // Даже при откате на immediate (дата в прошлом / < now+15min) парсим остаток.\n    workingName = rest;\n\n    const iso = `${yyyy}-${mm}-${dd}T${hh}:${mi}:00+03:00`;\n    const scheduled = new Date(iso);\n    const now = new Date();\n    const minFuture = new Date(now.getTime() + 15 * 60 * 1000);\n\n    if (!isNaN(scheduled.getTime()) && scheduled >= minFuture) {\n      scheduledAt = scheduled.toISOString();\n      scheduledAtMsk = `${yyyy}-${mm}-${dd} ${hh}:${mi}`;\n    }\n    // Если дата в прошлом или невалидна — scheduledAt остаётся null (immediate),\n    // но workingName уже очищен от prefix выше.\n  }\n\n  const parts = workingName.split('##').map(s => s.trim());\n  const title = parts[0] || 'Без названия';\n  const description = parts[1] || '';\n  const category = parts[2] || '22';\n\n  const privacyStatus = scheduledAt ? 'private' : 'public';\n\n  results.push({\n    json: {\n      ...item.json,\n      videoTitle: title,\n      videoDescription: description,\n      videoCategory: category,\n      originalFileName: fileName,\n      scheduledAt,\n      scheduledAtMsk,\n      privacyStatus,\n      driveFileId: item.json.id\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      },
      "id": "f8689b2c-687a-44e1-a3a9-c82d5d66f956",
      "name": "📝 Парсинг метаданных5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        8576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем base64 изображение из ответа API\n// и сохраняем videoTitle + scheduled-поля для последующих нод\n\nconst imageUrl = $json.choices[0].message.images[0].image_url.url;\n\n// Разделяем data:image/png;base64, и саму base64 строку\nconst base64Data = imageUrl.split(',')[1];\n\n// Определяем MIME тип\nconst mimeType = imageUrl.match(/data:([a-zA-Z0-9]+\\/[a-zA-Z0-9-.+]+).*,/)[1];\n\n// Определяем расширение файла\nconst extension = mimeType.includes('png') ? 'png' : 'jpg';\n\n// Создаем имя файла\nconst fileName = `thumbnail_${Date.now()}.${extension}`;\n\n// Сохраняем данные из парсинга для использования после Merge\nconst meta = $('📝 Парсинг метаданных5').first().json;\n\nreturn {\n  json: {\n    fileName: fileName,\n    mimeType: mimeType,\n    videoTitle: meta.videoTitle,\n    videoDescription: meta.videoDescription,\n    scheduledAt: meta.scheduledAt,\n    scheduledAtMsk: meta.scheduledAtMsk,\n    driveFileId: meta.driveFileId,\n    privacyStatus: meta.privacyStatus,\n    success: true\n  },\n  binary: {\n    thumbnail: {\n      data: base64Data,\n      mimeType: mimeType,\n      fileName: fileName\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        8368
      ],
      "id": "2506218f-1469-47f8-8728-eb5d67c951af",
      "name": "🖼️ Извлечь обложку из ответа6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/upload/youtube/v3/thumbnails/set?videoId={{ $json.uploadId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "thumbnail",
        "options": {
          "timeout": 60000
        }
      },
      "id": "78ef14f4-116d-4127-aa09-f69ec59cf4a6",
      "name": "🖼️ Установить обложку на YouTube5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        8576
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-url",
              "name": "youtubeUrl",
              "value": "=https://youtube.com/watch?v={{ $('🔀 Ждём обложку + загрузку4').item.json.uploadId }}",
              "type": "string"
            },
            {
              "id": "set-youtube-id",
              "name": "youtubeId",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.uploadId }}",
              "type": "string"
            },
            {
              "id": "set-title",
              "name": "videoTitle",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.videoTitle }}",
              "type": "string"
            },
            {
              "id": "set-scheduled-at",
              "name": "scheduledAt",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.scheduledAt || '' }}",
              "type": "string"
            },
            {
              "id": "set-scheduled-at-msk",
              "name": "scheduledAtMsk",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.scheduledAtMsk || '' }}",
              "type": "string"
            },
            {
              "id": "set-drive-file-id",
              "name": "driveFileId",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.driveFileId || '' }}",
              "type": "string"
            },
            {
              "id": "set-status",
              "name": "scheduleStatus",
              "value": "={{ $('🔀 Ждём обложку + загрузку4').item.json.scheduledAt ? 'uploaded' : 'immediate' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dea531d2-4d61-49ce-ae60-67898caaf783",
      "name": "🔗 Сохранить URL5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        8576
      ]
    },
    {
      "parameters": {
        "chatId": "-1003932006777",
        "text": "={{ $('🔗 Сохранить URL5').item.json.scheduledAt ? '🕐 Видео запланировано на <b>' + $('🔗 Сохранить URL5').item.json.scheduledAtMsk + ' MSK</b>\\n\\n📹 ' + $('🔗 Сохранить URL5').item.json.videoTitle + '\\n🔗 ' + $('🔗 Сохранить URL5').item.json.youtubeUrl + '\\n\\n👉 Подготовь контент заранее в Claude Code:\\n<code>/repurpose-youtube-video ' + $('🔗 Сохранить URL5').item.json.youtubeUrl + '</code>\\n\\nТексты лягут в очередь. Опубликую автоматически в назначенное время.' : '✅ Видео загружено на YouTube!\\n\\n📹 ' + $('🔗 Сохранить URL5').item.json.videoTitle + '\\n🔗 ' + $('🔗 Сохранить URL5').item.json.youtubeUrl + '\\n🎨 Обложка установлена\\n\\n👉 Открой Claude Code и запусти:\\n<code>' + $('🔗 Сохранить URL5').item.json.youtubeUrl + '</code>\\n\\nСкопируй URL выше → вставь в Claude Code → /repurpose-youtube-video' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "f3f6b64a-31f7-43f0-abaa-22a30b5e5807",
      "name": "📩 Telegram уведомление5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1616,
        8576
      ],
      "webhookId": "c7833fc3-c07d-42d3-9eb2-967bd428de67",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=13CleoQqkhSuWg65fX1bH20ScOgYhqzEx4yg20bNU3ZY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "schedule"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "scheduled_at": "={{ $json.scheduledAt }}",
            "youtube_url": "={{ $json.youtubeUrl }}",
            "title": "={{ $json.videoTitle }}",
            "drive_file_id": "={{ $json.driveFileId }}",
            "status": "={{ $json.scheduleStatus }}",
            "youtube_id": "={{ $json.youtubeId }}"
          },
          "matchingColumns": [
            "youtube_id"
          ],
          "schema": [
            {
              "id": "scheduled_at",
              "displayName": "scheduled_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtube_id",
              "displayName": "youtube_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "youtube_url",
              "displayName": "youtube_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_text",
              "displayName": "tg_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog_html",
              "displayName": "blog_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog_meta",
              "displayName": "blog_meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog_alias",
              "displayName": "blog_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog_parent",
              "displayName": "blog_parent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_url",
              "displayName": "cover_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cover_local_path",
              "displayName": "cover_local_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg_msg_id",
              "displayName": "tg_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reminded_at",
              "displayName": "reminded_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4581c164-d60d-4ba3-86ca-89d13623a70f",
      "name": "❌ Mark as failed1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1376,
        8576
      ],
      "credentials": {}
    }
  ],
  "connections": {
    "⏰ Publisher Trigger (5 min)": {
      "main": [
        [
          {
            "node": "📊 Read Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Sheets": {
      "main": [
        [
          {
            "node": "🔍 Filter: ready & due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter: ready & due": {
      "main": [
        [
          {
            "node": "🔁 Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Split In Batches": {
      "main": [
        [
          {
            "node": "🔒 Lock current row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔒 Lock current row": {
      "main": [
        [
          {
            "node": "📨 TG sendPhoto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 TG sendPhoto": {
      "main": [
        [
          {
            "node": "🔀 tg_text > 1024?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Mark as failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 tg_text > 1024?": {
      "main": [
        [
          {
            "node": "📨 TG sendMessage (long)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Blog publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📨 TG sendMessage (long)": {
      "main": [
        [
          {
            "node": "📝 Blog publish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Mark as failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Blog publish": {
      "main": [
        [
          {
            "node": "📥 Fetch cover binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Mark as failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Fetch cover binary": {
      "main": [
        [
          {
            "node": "🖼️ Blog set cover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Mark as failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Blog set cover": {
      "main": [
        [
          {
            "node": "✅ Update Sheets (published)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠️ Notify (cover warning)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Update Sheets (published)": {
      "main": [
        [
          {
            "node": "📩 Notify (published)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📩 Notify (published)": {
      "main": [
        [
          {
            "node": "🔁 Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Mark as failed": {
      "main": [
        [
          {
            "node": "📩 Notify (failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📩 Notify (failed)": {
      "main": [
        [
          {
            "node": "🔁 Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚠️ Notify (cover warning)": {
      "main": [
        [
          {
            "node": "✅ Update Sheets (published)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Reminder Trigger (1h)": {
      "main": [
        [
          {
            "node": "📊 Read Sheets (reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read Sheets (reminder)": {
      "main": [
        [
          {
            "node": "🔍 Filter: uploaded & 1-3h away",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Filter: uploaded & 1-3h away": {
      "main": [
        [
          {
            "node": "📩 Notify (reminder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📩 Notify (reminder)": {
      "main": [
        [
          {
            "node": "✅ Mark reminded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔌 Webhook: Lookup": {
      "main": [
        [
          {
            "node": "📊 Read schedule (lookup)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Read schedule (lookup)": {
      "main": [
        [
          {
            "node": "🔍 Find by youtube_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Find by youtube_id": {
      "main": [
        [
          {
            "node": "↩️ Respond Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔌 Webhook: Update": {
      "main": [
        [
          {
            "node": "📦 Unpack body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Unpack body": {
      "main": [
        [
          {
            "node": "📊 Update row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Update row": {
      "main": [
        [
          {
            "node": "↩️ Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📁 Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "🎬 Это видео?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎨 Генерация обложки (AI)4": {
      "main": [
        [
          {
            "node": "🖼️ Извлечь обложку из ответа6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎥 Загрузить на YouTube4": {
      "main": [
        [
          {
            "node": "🔀 Ждём обложку + загрузку4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "🔀 Ждём обложку + загрузку4": {
      "main": [
        [
          {
            "node": "🖼️ Установить обложку на YouTube5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Это видео?5": {
      "main": [
        [
          {
            "node": "⬇️ Скачать видео5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⬇️ Скачать видео5": {
      "main": [
        [
          {
            "node": "📝 Парсинг метаданных5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Парсинг метаданных5": {
      "main": [
        [
          {
            "node": "🎨 Генерация обложки (AI)4",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎥 Загрузить на YouTube4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Извлечь обложку из ответа6": {
      "main": [
        [
          {
            "node": "🔀 Ждём обложку + загрузку4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Установить обложку на YouTube5": {
      "main": [
        [
          {
            "node": "🔗 Сохранить URL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Сохранить URL5": {
      "main": [
        [
          {
            "node": "❌ Mark as failed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Mark as failed1": {
      "main": [
        [
          {
            "node": "📩 Telegram уведомление5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "18021caa13c5cb5f2917678412a500e4d96e60027265f9b771588b75d3ff2dae"
  }
}